# fix file - ask steve
<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Superman</fullName>
  <properties>
    <petclinic.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAABwrPMjKAisnSwvJniPAELwEMEtI3tCfu+V3tSyhCriGNrdi9CpOsDn9vGBfARJNxQy/8Va2MherFYjPbV+YAZXFG/HSD3YOyJZ7pjurlzlrjyVTn60f6HD2lKlyZmVkZj45QJCF4fDNoI51o16ka6Wm11A6dJhGxypSmY80K2VS5o=}</apiToken>
    </petclinic.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#s4lt:{{ jpass }}</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <petclinic.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1515589114787</timestamp>
    </petclinic.security.LastGrantedAuthoritiesProperty>
  </properties>
